@use 'variables' as *;

.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}
.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin-top: 1rem;
    &.error {
        background-color: red;
    }
}