@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";

@include m.desktop {
    .contenedor-anuncios {
        @include m.grid(3, 2rem);
    }
}

.anuncio{
    background-color: color.adjust(v.$gris, $lightness: 5%);
    border: 1px solid color.adjust(v.$gris, $lightness: -10%);
    .contenido-anuncio{
        padding: 2rem;
    }
    h3, p{
        margin: 0;
    }
    .precio{
        color: v.$verde;
        font-weight: v.$bold;
        font-size: 3rem;
    }
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    li{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p{
            font-weight: v.$bold;
        }
    }
}
