@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    padding: calc(v.$separacion / 2) 0;
    background-color: v.$grisOscuro;
    margin-bottom: 0;
    .contendedor-footer{
        padding: calc(v.$separacion / 2) 0;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        @include m.tablet {
            flex-direction: row;
            justify-content:flex-start;
        }
    }
    .copyright{
        text-align: center;
        color: v.$blanco;
    }
}