@use "../base/variables" as v;
@use "../base/mixins" as m;

.sobre-nosotros{
    @include m.desktop {
        @include m.grid(2, 2rem);
    }
    h2{
        text-align: left;
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: v.$black;
        line-height: 1.8rem;
        @include m.desktop {
            margin-top: 0;
        }
    }
}